
.all{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(2px);
}
.buton{
	margin-top: -20vh;
	margin-left: 12vw;
	z-index: 20;
	width: 3vw;
	height: 4vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 20px;
	position: absolute;
}
.buton2{
	margin-top: -30vh;
	margin-left: 12vw;
	z-index: 20;
	width: 3vw;
	height: 4vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 20px;
	position: absolute;
}
.per{
	width: auto;
	height: 8vh;
	transition: 0.5s;
}
.per:hover{

	height: 9vh;
}
::-webkit-scrollbar{

    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #ffc107;
    border-radius: 6px;
}